<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>JS Bin</title>
  <script src="//cdn.bootcss.com/vue/1.0.13/vue.js"></script>
</head>

<body>
  <nav>
    <ul>
      <li v-for="first in menu">
        {{first.level01}}
        <ul>
          <li v-for="second in first.level02">{{second}}</li>
        </ul>
      </li>
    </ul>
  </nav>
</body>
<script>
  new Vue({
      el: 'body',
      data: {
        menu: [{
          'level01': 'a',
          'level02': ['a1', 'a2', 'a3', 'a3']
        }, {
          'level01': 'b',
          'level02': ['b1', 'b2', 'b3', 'b3']
        }, {
          'level01': 'c',
          'level02': ['c1', 'c2', 'c3', 'c3']
        }, {
          'level01': 'd',
          'level02': ['d1', 'd2', 'd3', 'd3']
        }]
      }
    });

</script>
</html>